[DEFAULT]
{% if enable_cloudflare | default(false) %}
banaction = cloudflare
            iptables-allports
{% else %}
banaction = iptables-allports
{% endif %}
bantime  = -1
findtime  = 600
maxretry = 3
ignoreip = 127.0.0.1/8 ::1 {{ lan_network }}
action = %(action_mwl)s
destemail = {{ email }}
sender = {{ email }}

[sshd]
enabled = true
port = {{ security_ssh_port }}
filter = sshd

{% for name in installed_configs | default([]) %}
[{{ name }}]
enabled  = true
port     = http,https,{{ security_ssh_port }}
filter   = {{ name }}
logpath  = %({{ name }}_log)s

{% endfor %}
